[Unit]
Description=Coloroton Service
#Requires=
After=puredata.service network.target

[Service]
Type=simple
#User=root
#Group=root
User=pi
Group=pi
WorkingDirectory=/home/pi/coloroton/apps/coloroton/colorotonControl/bin/
ExecStart=/home/pi/coloroton/apps/coloroton/colorotonControl/bin/colorotonControl
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

