[Unit]
Description=Puredata Service
#Requires=
After=network.target

[Service]
Type=simple
#User=root
#Group=root
User=pi
Group=pi
WorkingDirectory=/home/pi/Container_final/
ExecStart=pd-l2ork -nogui -alsa /home/pi/Container_final/13febContainer_final.pd
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

