<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<style type="text/css">
* {margin:0;padding:0;}
	body {
		height: 100%;
	}
</style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
	$( function() {
		$("#volumen").slider();
		
	});
	</script>
</head>
	<body>
		<h1>Coloroton</h1>
		<hr/>
		<section>
			<p>Lautstärke</p>
			<div id="volumen"></div>
		</section>
	</body>
</html>
